
.wrapper {
    border: 1px dashed red;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.inner {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    transform: translateX(100)
}