
.wrapper {
    border: 1px dashed red;
    width: 300px;
    height: 300px;
    margin: 200px auto;
}

.inner {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    // tranform: rotate(45deg);
    /* transform: rotate(50grad); */
    /* transform: rotate(6.28rad); // 2 * 3.14 */
    /* transform: skew(40deg, 40deg); */
    /* transform-origin: 100% 100%; */
    transform: translate(75px) scale(1.5);
}