.transition-div {
    background-color: black;
}

.transition-div:hover .transition {
    margin-left: 500px;
}

.transition {
    margin: 10px;
    width: 100px;
    height: 40px;
    background-color: red;
    transition-property: margin-left;
    transition-duration: 5s;
}

.ease {
    background-color: blue;
    transition-timing-function: steps(2, start);
}

.linear {

    background-color: green;
    transition-timing-function: steps(2, end);
}

.ease-in {
    background-color: yellow;
    transition-timing-function: ease-in;
}

.step-start {
    background-color: purple;
    transition-timing-function: step-start;
}

.step-end {
    background-color: orange;
    transition-timing-function: step-end;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}